.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  margin: 0;
  font-size: 5rem;
  line-height: 1.3;
  text-align: left;
  padding-top: 40vh;
  /* text-shadow: 1px 1px 1px #3c5c5e; */
}

.bgLink {
  text-decoration: none;
  color: steelblue;
}

.bgImg {
  filter: opacity(70%) brightness(80%) blur(1px);
}
