.about {
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
}

.about_container {
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about_txt_wrapper {
  max-width: 65ch;
}

.about_txt_wrapper > h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  line-height: 1.4;
  font-weight: 900;
  /* color: var(--secondary-text-color); */
  color: rgba(0, 0, 0, 0.76);
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.76);
}
.about_txt_wrapper > h3 {
  margin-bottom: 1rem;
  font-size: 2.7rem;
  line-height: 1.2;
  font-weight: 600;
  color: rgba(58, 58, 58, 0.76);
}

.about_txt_wrapper > p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
  color: rgba(85, 83, 83, 0.76);
}

.about_img_wrapper {
  max-width: 600px;
}

.about_image {
  border-radius: 5px;
  width: 100%;
}
.icons {
  position: relative;
  margin-top: 1rem;
}

.icon {
  color: rgba(36, 35, 35, 0.76);
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.5s ease-out;
}

.icon:hover {
  color: var(--secondary-text-color);
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .about_img_wrapper {
    padding: 1rem 1.3rem;
  }
  .about_txt_wrapper {
    padding: 1rem 1.3rem;
  }
  .about_container {
    padding-top: 5rem;
  }
}

.about_tech_wrapper {
  display: grid;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  background: var(--clr-neutral-900);
}

.about_card {
  color: var(--clr-neutral-100);
  background-image: url("/images/code_006.jpg");
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}
.about_card:hover {
  transform: scale(1.05);
}

.about_card_content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0, 0%, 0%, 0),
    hsl(20, 0%, 0%, 0.3) 20%,
    hsl(0, 0%, 0%, 1)
  );
  transform: translateY(65%);
  transition: transform 500ms ease;
}

.about_card:hover .about_card_content {
  transform: translateY(0);
  transition-delay: 500ms;
}

.about_card_content > *:not(.about_card_title) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.about_card:hover .about_card_content > *:not(.about_card_title) {
  opacity: 1;
  transition-delay: 1000ms;
}

.about_card_title {
  position: relative;
  width: max-content;
}

.about_card_title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-100);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.about_card:hover .about_card_title::after {
  transform: scaleX(1);
}

.about_card_body {
  color: rgb(255 255 255 / 0.8);
}

.about_button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-100);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}
.about_button:hover,
.about_button:focus {
  background-color: var(--clr-neutral-100);
}
