.about_card {
  color: var(--clr-neutral-100);
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.5);
  padding: 10rem 0 0;
  min-width: 19.5rem;
  min-height: 28.125rem;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
  position: relative;
}

.about_img {
  filter: brightness(60%);
}

.about_card:hover,
.about_card:focus-within {
  transform: scale(1.02);
}

.about_card_content {
  position: relative;
  min-height: 20rem;
  --padding: 3rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0, 0%, 0%, 0),
    hsl(20, 0%, 0%, 0.3) 20%,
    hsl(0, 0%, 0%, 1)
  );
}

.about_card_title {
  position: relative;
  width: max-content;
}

.about_card_title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-100);
  /* background: gold; */
  transform-origin: left;
  transition: transform 500ms ease;
}

.about_card:hover .about_card_title::after,
.about_card:focus-within .about_card_title::after {
  transform: scaleX(1);
}

.about_card_body {
  position: relative;
  margin: 1rem 0;
  color: rgb(255 255 255 / 0.8);
}

@media (hover) {
  .about_card_content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .about_card:hover .about_card_content,
  .about_card:focus-within .about_card_content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .about_card:focus-within .about_card_content {
    transition-duration: 0ms;
  }

  .about_card_content > *:not(.about_card_title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .about_card:hover .about_card_content > *:not(.about_card_title),
  .about_card:focus-within .about_card_content > *:not(.about_card_title) {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .about_card_title::after {
    transform: scaleX(0);
  }
}

.about_button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-100);
  /* background-color: gold; */
  /* background: var(--alternative-color-two); */
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}
.about_button:hover,
.about_button:focus {
  background-color: var(--clr-neutral-100);
}

/* @media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
} */
