.bootcamp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
  background: #fff;
  color: #000;
  min-height: 100vh;
  overflow-x: hidden;
}

.bootcamp_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 750px;
}

.bootcamp_container > h2 {
  padding-top: 10rem;
  padding-bottom: 3rem;
  font-size: 4rem;
  /* color: var(--alternative-color-four); */
  color: rgba(0, 0, 0, 0.76);
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.76);
  /* text-shadow: 3px 6px 9px var(--alternative-color-four); */
  line-height: 1.3;
  font-weight: 900;
}

@media (max-width: 768px) {
  .bootcamp_container {
    padding: 1rem 1.5rem;
  }

  .bootcamp_container > h2 {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 3rem;
  }
}
