.contact {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  align-items: center;
  background: #fff;
  color: #000;
  min-height: 100vh;
}

.contact_container {
  max-width: 50ch;
  /* padding-left: 5rem;
  padding-top: 5rem; */
}

@media screen and (max-width: 869px) {
  /* .contact {
    display: grid;
    padding: 0 1rem;
    grid-template-columns: 1fr;
  } */

  .form_container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
