.contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  background: #fff;
  color: #000;
  min-height: 100vh;
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
