.contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  background: #fff;
  color: #000;
  min-height: 100vh;
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.img {
  flex: 1;
  margin: 10px;
}

.info {
  flex: 5;
}

@media (max-width: 600px) {
  .event {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}
