.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4rem;
}
.footer > p {
  font-size: 1.2rem;
}

.footerLink {
  text-decoration: none;
  color: #fff;
}
