:root {
  --primary-color: #1a8ccb;
  --secondary-color: #e30f02;
  --alternative-color: #6724b1;
  --alternative-color-two: #41b764;
  --alternative-color-three: #8eef9e;
  --alternative-color-four: rgba(102, 31, 225, 0.705);
  --alternative-color-five: #0751a5;
  --primary-text-color: rgba(199, 199, 199, 0.842);
  --secondary-text-color: rgb(175, 31, 156);
  --alternative-text-color: rgba(3, 246, 15, 0.527);
  --alternative-text-color-two: #374151;
  --primary-link-color: rgb(0, 0, 238);

  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-100: hsl(142, 90%, 61%);
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 50px;
  top: 50px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.menu-btn .btn-line {
  width: 46px;
  height: 3px;
  margin: 0 0 9px 0;
  /* background: rgba(255, 255, 255, 0.835); */
  background: rgba(65, 246, 95, 0.623);

  transition: all 0.3s ease-out;
}

/* .menu-btn .btn-line:hover {
  background-color: #b60fb0d3;
} */

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(9px, 8px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -8px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: #444;
  transform: translate3d(0%, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.portrait-img {
  filter: contrast(120%);
  border-radius: 5px;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
/* .menu .nav-item.current > a {
  color: rgb(27, 233, 64);
} */
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1.2rem 0;
  color: rgba(200, 200, 200, 0.842);
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  text-decoration: underline;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}
.nav-item:nth-child(5) {
  transition-delay: 0.6s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(68, 68, 68);
  color: rgba(200, 200, 200, 0.842);
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 300;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 5rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  /* background: rgba(73, 73, 73, 0.5); */
  background: rgba(12, 213, 248, 0.12);
  border-radius: 3px;
  color: #41b764;
  /* color: #8eef9e; */
}

a {
  color: #fff;
}

.btn {
  display: inline-block;
  /* background: var(--alternative-color-five); */
  background: var(--alternative-color);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

.text-secondary {
  color: var(--primary-color);
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

@media screen and (max-width: 768px) {
  main .lg-heading {
    z-index: 1000;
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 1.7rem;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait-img-2 {
    width: 150px;
    height: 150px;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
