:root {
  --primary-color: #1a8ccb;
  --secondary-color: #e30f02;
  --alternative-color: #3aabd0;
  --alternative-color-two: #41b764;
  --alternative-color-three: #8eef9e;
  --alternative-color-four: #f28240;
  --alternative-color-five: #0751a5;
  --primary-text-color: hsla(0, 0%, 78%, 0.842);
  --secondary-text-color: rgba(175, 31, 156, 0.712);
  --alternative-text-color: rgba(3, 246, 15, 0.527);
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 50px;
  top: 50px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.menu-btn .btn-line {
  width: 46px;
  height: 3px;
  margin: 0 0 9px 0;
  /* background: rgba(255, 255, 255, 0.835); */
  background: rgba(65, 246, 95, 0.623);

  transition: all 0.3s ease-out;
}

/* .menu-btn .btn-line:hover {
  background-color: #b60fb0d3;
} */

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(9px, 8px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -8px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: #444;
  transform: translate3d(0%, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.portrait-img {
  filter: contrast(120%);
  border-radius: 5px;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
/* .menu .nav-item.current > a {
  color: rgb(27, 233, 64);
} */
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1.2rem 0;
  color: rgba(200, 200, 200, 0.842);
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  text-decoration: underline;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

/* Menu animation bounce */
/* .menu-btn {
  animation: bounce 1200ms ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(68, 68, 68);
  color: rgba(200, 200, 200, 0.842);
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

header {
  position: sticky;
  z-index: 3;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 300;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 5rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  /* background: rgba(73, 73, 73, 0.5); */
  background: rgba(12, 213, 248, 0.12);
  border-radius: 3px;
  color: #41b764;
  /* color: #8eef9e; */
}

a {
  color: #fff;
}

.btn {
  display: inline-block;
  background: var(--alternative-color-five);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

.text-secondary {
  color: var(--primary-color);
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #eece1a 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #eece1a 5px solid;
}

.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 1rem;
}
.projects img {
  width: 100%;
  border: 3px #fff solid;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #eece1a;
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main .lg-heading {
    z-index: 1000;
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 1.7rem;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait-img-2 {
    width: 150px;
    height: 150px;
  }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main .home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
} */
