.home {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  overflow: hidden;
}
.home h1 {
  margin-top: 20vh;
}

.mdHeading {
  margin-top: 3rem;
  font-size: 2rem;
  font-style: italic;
  color: #a756c7;
  text-shadow: 1px 2px 3px rgb(167, 86, 199, 0.6);
  /* color: #f55c0a; */
  /* color: rgb(27, 233, 64); */
}

.textSecondary {
  color: rgb(27, 233, 64);
  text-shadow: 1px 3px 6px rgba(27, 233, 64, 0.9);
}

.icons {
  position: relative;
  margin-top: 0.5rem;
}

.icon {
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.5s ease-out;
}

.icon:hover {
  /* color: rgb(110, 101, 101); */
  color: rgb(177, 62, 223);
  transform: translateY(-5px);
}
