.home {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  overflow: hidden;
}
.home h1 {
  margin-top: 20vh;
}

.textSecondary {
  color: rgb(27, 233, 64);
}

.icons {
  position: relative;
  margin-top: 0.5rem;
}

.icon {
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.5s ease-out;
}

.icon:hover {
  /* color: rgb(110, 101, 101); */
  color: rgb(177, 62, 223);
  transform: translateY(-5px);
}
