.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 0px 10px 15px 0px rgba(98, 68, 68, 0.3);
  /* box-shadow: 1px 2px 9px var(--secondary-text-color); */
}

.img {
  flex: 1;
  margin: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
}

.info {
  flex: 2;
}

@media (max-width: 768px) {
  .event {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}
