.projects {
  /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem; */
  padding-bottom: 3rem;
  background: #fff;
  color: var(--alternative-text-color-two);
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 28rem));
  place-content: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem 2rem;
}
