.projects {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem; */
  padding-bottom: 3rem;
  background: #fff;
  color: #000;
  min-height: 100vh;
}

.projects_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
