.showcase {
  height: 333px;
  width: 100%;
  background: #000 url("/images/code_008.jpg") no-repeat center center;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: -1px 2px 9px var(--secondary-text-color);
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase * {
  z-index: 20;
}

.showcase h1 {
  color: var(--secondary-text-color);
  font-size: 3.3rem;
  /* font-weight: 550; */
  margin-bottom: 0;
  margin-top: 2rem;
  margin-left: 2rem;
  text-shadow: 1px 2px 3px var(--secondary-text-color);
}
.showcase h2 {
  color: var(--alternative-text-color);
  font-size: 2.3rem;
  /* font-weight: 600; */
  margin-bottom: 0;
  margin-top: 2rem;
  margin-left: 2rem;
  text-shadow: 1px 2px 3px var(--alternative-text-color);
}

@media (max-width: 600px) {
  .showcase h1,
  .showcase h2 {
    display: none;
  }
}
